@use "/src/styles/variables";
@use "/src/styles/mixins";

.footer {
  position: relative;
  min-height: 100%;
  background-color: rgba(2, 20, 40, 1);
  width: 100%;
}

.footer_top {
  @include mixins.flex-center;
  justify-content: space-between;
  gap: 44px;
  width: 100%;
  padding: 56px 0;
  border-bottom: 1px solid rgba(78, 85, 93, 1);

  .item {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
    @include mixins.flex-center;
    gap: 12px;

    .bullet {
      width: 8px;
      height: 8px;
      border-radius: 100px;
      background-color: rgba(14, 227, 224, 1);
    }
  }
}

.footer_bottom {
  display: flex;
  min-height: 334px;
}

.footer_bottom-left {
  padding: 40px;
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  border-right: 1px solid rgba(78, 85, 93, 1);

  svg {
    // aspect-ratio: 1 / 1.3;
    height: fit-content;
  }

  .item {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: uppercase;
  }
}

.footer_bottom-right {
  width: 100%;
  padding: 40px 40px 55px;
  display: flex;
  align-items: flex-end;

  .link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    button {
      border: 0;
      padding: 0;
      background-color: transparent;
      margin: 0;

      color: rgba(255, 255, 255, 1);
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -2%;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1050px) {
  .footer_bottom {
    flex-direction: column;
  }

  .footer_bottom-left {
    max-width: 100%;
    border-right: 0;
    border-bottom: 1px solid rgba(78, 85, 93, 1);
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
  }
}

@media screen and (max-width: 1050px) {
  .footer_top {
    flex-direction: column;
  }

  .footer_bottom-left {
    .item {
      font-size: 20px;
    }
  }

  .footer_bottom-right {
    padding: 40px;

    .link {
      flex-direction: column;
    }
  }
}
