@use "/src/styles/variables";
@use "/src/styles/mixins";

.header-item.dark {
  .caption {
    color: rgba(2, 20, 40, 1);
  }

  .header {
    h2 {
      color: rgba(10, 14, 40, 1);
    }

    p {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.header-item.center {
  align-items: center;

  .caption {
    text-align: center;
  }

  .header {
    text-align: center;
  }
}

.header-item {
  @include mixins.flex-column;
  gap: 48px;
  text-transform: uppercase;

  .caption {
    @include mixins.flex-center;
    justify-content: flex-start;
    gap: 12px;
    color: rgba(204, 209, 213, 1);
    font-weight: 400;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;

    span {
      width: 8px;
      height: 8px;
      border-radius: 100px;
      background-color: rgba(14, 227, 224, 1);
    }
  }

  .header {
    @include mixins.flex-column;
    gap: 24px;
    text-align: left;
    max-width: 750px;

    h2 {
      color: rgba(255, 255, 255, 1);
      font-family: var(--header-font);
      font-weight: 300;
      font-size: 80px;
      line-height: 72px;
      letter-spacing: -6%;
    }

    p {
      color: rgba(255, 255, 255, 0.75);
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0%;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-item {
    gap: 32px;

    .caption {
      font-size: 16px;
    }

    .header {
      gap: 20px;
      max-width: 750px;

      h2 {
        font-size: 48px;
        line-height: 44px;
      }

      p {
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -2%;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .header-item {
    .header {
      h2 {
        font-size: 40px;
        line-height: 36px;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .header-item {
    .header {
      h2 {
        font-size: 36px;
        line-height: 30px;
      }
    }
  }
}
