@use "/src/styles/variables";
@use "/src/styles/mixins";

@keyframes blend {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  @include mixins.flex-center;
  flex-direction: column;
  padding: 32px 16px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: all;
  animation: blend 0.5s linear;
  //   opacity: 0;
  //   pointer-events: none;
  transform: scale(0);
  transform-origin: left;
  transition: transform ease-in-out 0.5s;

  &::before {
    content: "";
    @include mixins.overlay(rgba(0, 0, 0, 0.5));
  }
}

.modal.visible {
  //   opacity: 1;
  //   pointer-events: all;
  transform: scale(1);
}

.modal_container {
  position: relative;

  background-color: rgba(242, 242, 242, 1);
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.25);

  border-radius: 19px;

  max-width: 727px;
  width: 100%;
  height: fit-content;
  max-height: 100%;

  overflow-y: scroll;
  padding: 24px;
  @include mixins.flex-column;
  gap: 40px;
}

.modal_header {
  @include mixins.flex-center;
  gap: 10px;
  justify-content: space-between;

  h4 {
    color: rgba(24, 26, 30, 1);
    font-family: "Geist", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1%;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    @include mixins.flex-center;
    flex-direction: column;
  }
}

.modal_content {
  @include mixins.flex-column;
  gap: 32px;
  text-transform: uppercase;

  p,
  li {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .desc {
    @include mixins.flex-column;
    gap: 8px;

    ul {
      margin-left: 7px;
    }

    li {
      list-style-position: inside;

      &::marker {
        font-size: 10px;
        color: rgba(0, 0, 0, 0.6);
      }
    }

    h6 {
      font-family: "Geist", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}

@media screen and (max-width: 768px) {
  .modal_container {
    padding: 20px;
    gap: 30px;
  }

  .modal_header {
    // position: absolute;
    // width: calc(100% - 40px);
    // top: 20px;
    // left: 20px;
    // gap: 15px;

    h4 {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .modal_content {
    gap: 24px;

    p,
    li {
      font-size: 14px;
      line-height: 20px;
    }

    .desc {
      h6 {
        font-size: 16px;
      }
    }
  }
}
