@use "/src/styles/variables";
@use "/src/styles/mixins";

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 8px 16px;
  @include mixins.flex-center;
  transition: background-color 0.5s ease-in-out;
}

.navbar_container {
  max-width: 1352px;
  width: 100%;
  @include mixins.flex-space-between;
  align-items: center;
}

.navbar.sticky {
  background-color: rgba(1, 17, 35, 1);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.nav__container {
  @include mixins.flex-row;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  list-style-type: none;
  @include mixins.flex-row;
  gap: 32px;

  li {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    color: variables.$white;
    transition: color 0.5s ease-in-out;
    font-weight: 300;
    letter-spacing: -2%;
    @include mixins.flex-center;
  }
}

.btn__container {
  @include mixins.flex-row;
}

.menu {
  width: fit-content;
  @include mixins.flex-center;
  gap: 8px;
  position: relative;
  z-index: 15;
}

.btn-nav {
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px -1px 4px 0px rgba(191, 191, 191, 0.25) inset;
  color: rgba(24, 26, 30, 1);
  background-color: rgba(14, 227, 224, 1);
  box-shadow: 0px -1px 4px 0px rgba(191, 191, 191, 0.25) inset;

  // background: rgba(245, 245, 245, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.btn-nav.link {
  color: rgba(51, 51, 51, 1);
}

.logo {
  font-size: 24px;
  font-weight: 400;
  font-family: "Emblema One", system-ui;
  font-style: normal;
  color: variables.$white;
  // width: 50%;
  @include mixins.flex-center;
  justify-content: flex-start;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
  // position: relative;
  // right: 40px;
  // top: 43px;
  // z-index: 15;

  span {
    height: 2px;
    width: 19px;
    border-radius: 2px;
    background-color: variables.$white;
    transition: transform 0.3s ease-in-out;

    &:last-of-type {
      width: 9.5px;
    }
  }
}

.nav__hamburger.open {
  span {
    background-color: rgba(1, 16, 35, 1);

    &:first-of-type {
      transform: rotate(45deg);
      position: relative;
      top: 2px;
    }

    &:nth-of-type(2) {
      transform: rotate(135deg);
      position: relative;
      top: -4px;
    }

    &:last-of-type {
      display: none;
    }
  }
}
// .arrow-div {
//   width: 0;
// }

@media screen and (max-width: 990px) {
  .navbar {
    height: 100px;
  }

  .navbar_container {
    justify-content: flex-end;
  }

  .navbar.sticky {
    .nav__hamburger {
      span {
        background-color: rgba(255, 255, 255, 1);
      }
    }

    .nav__hamburger.open {
      span {
        background-color: rgba(1, 16, 35, 1);
      }
    }
  }

  .nav__container {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgba(255, 255, 255, 1);
    padding: 100px 20px 40px;

    z-index: 15;
    pointer-events: none;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease-in-out;
  }

  .nav__container.open {
    pointer-events: all;

    transform: scaleX(1);
    border-bottom: 1px solid rgba(1, 16, 35, 1);
  }

  .logo {
    position: fixed;
    left: 16px;
    top: 17.5px;
    width: unset;
    z-index: 20;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.5s ease-in-out;

    li {
      font-family: "Geist Mono", monospace;

      font-weight: 400;
      font-size: 44px;
      line-height: 44px;
      letter-spacing: -3%;
      color: rgba(1, 16, 35, 1);

      .text_container {
        height: 44px;
      }
    }
  }

  .nav__links.open {
    opacity: 1;
    pointer-events: all;
  }

  .btn__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    pointer-events: all;

    transition: opacity 0.5s ease-in-out;
  }

  .btn-nav {
    font-size: 14px;
    padding: 12px 24px;
  }

  // .btn__container.open {
  //   opacity: 1;
  //   pointer-events: all;
  // }

  // .arrow-div {
  //   width: 44px;
  // }

  .nav__hamburger {
    @include mixins.flex-column;
    align-items: flex-end;
    gap: 4px;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 21px 20px;
  }

  .logo {
    width: 110px;
  }
}

@media screen and (max-width: 370px) {
  .nav__links {
    li {
      font-size: 36px;
      line-height: 36px;

      .text_container {
        height: 36px;
      }
    }
  }
}
