@use "/src/styles/variables";
@use "/src/styles/mixins";

.about {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(1, 16, 35, 1);
  @include mixins.padding;
  @include mixins.flex-column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;

  position: relative;
  z-index: 1;
}

.about__overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: url("../../assets/images/about-bg.jpg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  z-index: -1;
  // position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.about__content {
  color: rgba(255, 255, 255, 1);
  @include mixins.flex-column;
  align-items: center;
  gap: 102px;
  max-width: 745px;
}

.about__content .caption {
  color: rgba(204, 209, 213, 1);
  @include mixins.flex-center;
  gap: 12px;

  .bullet {
    border-radius: 100px;
    width: 8px;
    height: 8px;
    background-color: rgba(14, 227, 224, 1);
  }

  span {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
  }
}

.about__content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -2%;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  max-width: 690px;
}

.about__content h2 {
  font-family: var(--header-font);
  font-weight: 300;
  font-size: 88px;
  line-height: 76px;
  letter-spacing: -6%;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .about__content {
    gap: 80px;
    max-width: 745px;
  }

  .about__overlay {
    img {
      object-fit: cover;
    }
  }

  .about__content .caption {
    span {
      font-size: 16px;
    }
  }

  .about__content h2 {
    font-size: 48px;
    line-height: 44px;
  }

  .about__content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 390px) {
  .about__content h2 {
    font-size: 40px;
    line-height: 36px;
  }
}

@media screen and (max-width: 340px) {
  .about__content h2 {
    font-size: 36px;
    line-height: 30px;
  }
}
