@use "/src/styles/variables";
@use "/src/styles/mixins";

.faqs-section {
  min-height: 100%;
}

.faqs-main-container {
  padding: 120px 16px;
  background-color: rgba(2, 20, 40, 1);
  @include mixins.flex-center;
}

.faqs {
  max-width: 1272px;
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.faq__list {
  @include mixins.flex-column;
}

.faq-container {
  @include mixins.flex-row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  padding: 32px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.6);
  //   transition: all 0.3s ease-in-out;

  &:last-of-type {
    border-bottom-width: 1px;
  }
}

.faq-container__content {
  @include mixins.flex-column;
  height: fit-content;
  color: rgba(255, 255, 255, 1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  h5 {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1%;
  }
}

.faq-answer {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;

  transform: scaleY(0);
  margin-top: 0;
  height: 0;
  opacity: 0;
  transform-origin: top;
  transition-property: height, transform, margin, opacity;
  transition: 0.3s ease-in-out;
}

.faq-answer.open {
  opacity: 1;
  transform: scaleY(1);
  margin-top: 24px;
  height: auto;
}

.faq-btn {
  cursor: pointer;

  svg {
    transition: transform 0.3s ease-in-out;

    path {
      stroke: rgba(255, 255, 255, 1);
    }
  }
}

.faq-btn.open {
  svg {
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 1170px) {
  .faqs {
    gap: 64px;
  }
}

@media screen and (max-width: 950px) {
  .faqs {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .faqs-main-container {
    padding: 64px 16px;
  }

  .faqs {
    gap: 64px;
  }

  .faq-question {
    h5 {
      line-height: 24px;
    }
  }
}
