@use "/src/styles/variables";
@use "/src/styles/mixins";

.moments-section {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 120px 0 120px 120px;

  display: flex;
  align-items: center;

  .header-item {
    max-width: 700px;
  }
}

.moments {
  @include mixins.flex-column;
  gap: 80px;
  width: 100%;
}

.moments-swiper_container {
  width: 100%;
  @include mixins.flex-column;
  gap: 38px;
}

.moments-swiper {
  width: 100%;
  padding-right: 120px;
}

.moments-image {
  border-radius: 19px;
  aspect-ratio: 1.15 / 1;
  height: fit-content;
  background-color: rgba(246, 246, 246, 1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 19px;
  }
}

.swiper_btns {
  padding-right: 120px;
  align-self: flex-end;
  display: flex;
  gap: 16px;

  .btn {
    border: 0;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background-color: rgba(242, 242, 242, 1);
    transition: background-color 0.3s ease;

    @include mixins.flex-center;

    &:first-of-type {
      svg {
        transform: rotate(180deg);
      }
    }

    &.active {
      background-color: rgba(2, 20, 40, 1);
    }
  }
}

@media screen and (max-width: 900px) {
  .moments-section {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 64px 0 64px 16px;
  }

  .moments {
    gap: 48px;
  }

  .moments-swiper {
    padding-right: 16px;
  }

  .swiper_btns {
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .moments {
    gap: 48px;
  }
}

@media screen and (max-width: 500px) {
  .swiper_btns {
    display: none;
  }
}
