@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Mono+One&display=swap");

@font-face {
  font-family: "Rubik One Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Rubik One Regular"),
    url("./assets/fonts/RubikOne-Regular.woff") format("woff");
}

:root {
  --header-1: 64px;
  --header-3: 24px;

  --line-height-1: 64px;
  --line-height-3: 28px;

  --letter-spacing-1: -2%;
  --letter-spacing-3: -2%;
  --header-font: "Rubik One Regular", monospace;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Geist Mono", monospace;
}

.section {
  position: relative;
  width: 100%;
  min-height: calc(100vh);
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100%;
  transform: rotate(30deg);
  transform-origin: bottom left;
  will-change: transform;
}

@media screen and (max-width: 1050px) {
  :root {
    --header-1: 56px;

    --line-height-1: 56px;

    --letter-spacing-1: -2%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --header-1: 40px;

    --line-height-1: 36px;

    --letter-spacing-1: -2%;
  }
}
